body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	background-color: #f3f3f3;
}
.hidden {
	display: none;
}
a {
	text-decoration: none;
}
.inputWithToggles {
	position: relative;
}
.switcher {
	position: relative;
	height: 40px;
}
.switcher ul {
	display: none;
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #23579d;
	padding: 0;
	margin: 0;
	width: 100%;
}
.switcher > a:after {
	content: " \25be";
}
.switcher ul li {
	display: block;
	margin: 0;
}
.switcher ul li a {
	display: block;
	padding: 10px;
	margin: 0;
	text-align: center;
}
.inputWithToggles a.inputToggle {
	color: #000;
	border-bottom: 1px dashed #000;
	position: absolute;
	right: 10px;
	top: 9px;
}
.container {
	width: 900px;
	margin: 0 auto;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 15px;
}
label {
	display: block;
	margin-bottom: 5px;
	color: #707070;
}
table {
	border-spacing: 0;
	width: 100%;
	margin-bottom: 15px;
}
table td {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	vertical-align: top;
}
.textGroup {
	margin-bottom: 12px;
}
.textGroup input {
	border-radius: 0;
	margin-bottom: 0;
}
.textGroup input:first-child {
	border-radius: 4px 4px 0 0;
}
.textGroup input:last-child {
	border-radius: 0 0 4px 4px;
	margin-top: -1px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #575757;
	color: #fff;
}
.btn:disabled {
	opacity: 0.5;
}
.btn:hover {
	background-color: #666666;
}
.btn.btn-block {
	display: block;
	width: 100%;
}
.btn.btn-primary {
	background-color: #23579d;
}
.btn.btn-primary:hover {
	background-color: #2871d4;
}

form {
	display: none;
}
td:first-child {
	white-space: nowrap;
	font-weight: bold;
}
td:last-child {
	text-align: right;
}
#header {
	background: linear-gradient(180deg, #1a4072 0, #23579d);
	box-shadow: 0px 2px 4px #aaaaaa;
	color: #fff;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	z-index: 2;
}
ul#tabs {
	list-style: none;
	padding:0;
	margin: 0;
}
ul#tabs > li {
	display: none;
}
ul#tabs > li:first-child {
	margin-left: -10px;
}
ul#tabs li.right {
	float: right;
}
ul#tabs li.right.last {
	margin-right: -10px;
}
ul#tabs > li {
	float: left;
}
ul#tabs li a {
	color: #fff;
	opacity: 0.5;
	line-height: 40px;
	padding: 0 10px;
	display: block;
	height: 40px;
}
ul#tabs li.active a,
ul#tabs li a:hover {
	opacity: 1;
}
#content {
	margin-top: 60px;
}
#sendTransaction {
	margin-bottom: 50px;
}
#footer {
	font-size: 13px;
	line-height: 17px;
	padding: 6px 5px 5px;
	background-color: #23579d;
	color: #fff;
	box-shadow: 0px -2px 4px #aaaaaa;
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	right: 0;
}
#footer a {
	color: #fff;
	opacity: 0.5;
}
#footer a:hover {
	opacity: 1;
}
@media (max-width: 950px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 750px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 550px) {
	.container {
		width: 440px;
	}
}

@media (max-width: 450px) {
	body {
		margin: 0;
	}
	.container {
		width: 320px;
	}
}